#foreclosure{
  margin-top: 40px;
  height: 500px;
  background-color: #ededed;
}
#divorces{
  height: 500px;
}
#financial_hardship{
  height: 500px;
  background-color: #ededed;
}
#probate_or_inherited{
  height: 500px;
}