#coming_soon{
  margin-top: 40px;
  padding-top: 15px;
  height: 500px;
  background-color: #EFEBDF;
}
#under_contract{
  height: 500px;
}
#for_sale{
  height: 500px;
  background-color: #EFEBDF;
}
#sold{
  height: 500px;
}